body{
    background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;    
}
p.body{
    margin-top: 0px;
}
header{
    width: 1366px;
    height: 60px;
    background: #2E8B57;
}
.p1{
    float: left;
    font-family: "Calibri";
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-right: 850px;
}
.p2{
    float: left;
    font-family: "Calibri";
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
}
.p3{
    text-align: center;
    margin-right: 0px;
    margin-top: 260px;
    margin-left: -800px;
    color: #2E8B57;
    font-family: "Calibri";
    font-size: 30px;
}
.p4{
    text-align: center;
    margin-right: 0px;
    margin-top: -30px;
    margin-left: -800px;
    font-family: "Calibri";
    font-size: 25px;
}
img.logo{
    float:left;
    width: 100px;
    margin-top: 0px;
    margin-left: -5px;
}
footer{
    width: 1366px;
    height: 40px;
    margin-top: 238px;
    background: #e9e9e9;
}
p.footer{
    text-align: center;
    font-family: Calibri;
    font-size: 15px;
    color: #808080;
}
.estiloBotao {
    float: left;
    padding: 20px;
    background-color: cornflowerblue;
    line-height: 25px;
    border-radius: 4px;
}

.estiloBotao a:hover {
    background-color: #ddd;
    color: black;
  }
  